# ======================
# 📦 DEPENDENCIAS
# ======================
node_modules/
jspm_packages/
.pnp
.pnp.js

# ======================
# 🏗️ BUILD / OUTPUT
# ======================
dist/
build/
out/
.next/
.nuxt/
.cache/
coverage/

# ======================
# ⚙️ ENTORNOS
# ======================
.env
.env.*
!.env.example

# ======================
# 🧾 LOGS
# ======================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ======================
# 💻 SISTEMA OPERATIVO
# ======================
.DS_Store
Thumbs.db

# ======================
# 🧪 TESTING
# ======================
.nyc_output/

# ======================
# 🧠 IDEs / EDITORES
# ======================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.project
.classpath
.settings/
*.sublime-workspace

# ======================
# 🐳 DOCKER
# ======================
docker-data/
*.tar

# ======================
# 🧱 RUNTIME
# ======================
pids/
*.pid
*.seed
*.pid.lock

# ======================
# 🧹 TEMP
# ======================
.temp/
.tmp/
tmp/

# ======================
# 📊 REPORTES
# ======================
report.*.json

# ======================
# 🔐 ARCHIVOS SENSIBLES
# ======================
*.pem
*.key
*.crt